.App {
  max-width: 2300px;
  margin: 100px auto;
  
}

button {
  background: none;
  font-size: 1.5em;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border-radius: 2px;
  padding: 4px 8px;
  border:2px solid #fff;
  
}

button:hover {
  background: #00122C;
  color: #fff;
}

.card-grid {
  margin-top: 140px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 120px;
}

.turns {
  margin-top: 40px;
  font-size: 2.0em; 
  font-style: bold;
}

.stop-watch {
  margin-top: 40px;
  font-size: 2.0em; 
  font-style: bold;
}