@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');

body {
 font-family: Raleway, sans-serif;
 Margin: 0;
 font-size: 1.2em;
 text-align: center;
 background: #063751;
 color: #fff;
}